%table.table.table-bordered
  %tbody
    - @page.notes.each_with_index do |note, i|
      %tr
        %td.align-middle
          %h6
            = i + 1
      %tr
        %td.align-middle
          = note.inspect
          = "#{note.region}"
          :javascript
            $(document).ready(function() {
              console.log(drawnItems.getLayer(parseInt('#{note.leaflet_id}')));
              if(drawnItems.getLayer(parseInt('#{note.leaflet_id}')) == null){
                layer =  new L.rectangle(JSON.parse('#{note.region.html_safe}'));
                layer._leaflet_id = parseInt('#{note.leaflet_id}')
                layer.bindTooltip('#{note.leaflet_id}');
                layer.options.color = '#{note.color}';
                drawnItems.addLayer(layer);
              }
            });
      = render 'notes/note'
