%table.table.table-bordered
  %tbody
    - @page.notes.each_with_index do |note, i|
      %tr{ :style => "background-color: #{note.color}; color: white" }
        %td.align-middle
          = note.noid
          = link_to note_path(note), method: :delete, remote: true, class: "btn btn-sm btn-danger float-right" do
            %span.fa.fa-times
          :javascript
            $(document).ready(function() {
              //console.log(drawnItems.getLayer('#{note.noid}'));
              if(drawnItems.getLayer('#{note.noid}') == null){
                layer =  new L.rectangle(JSON.parse('#{note.region.html_safe}'));
                layer._leaflet_id = '#{note.noid}'
                layer.bindTooltip('#{note.noid}');
                layer.options.color = '#{note.color}';
                drawnItems.addLayer(layer);
              }
            });
      = render 'notes/comments'
