%h2.py-3
  Catalog
  = @work.title

= form_tag update_work_path(@work), :method => :put, :id => "raw_xml_form" do
  = hidden_field_tag( "raw_xml", "")

  .container
    .row
      .col
        #editor{ style: 'position:relative;min-height:320px;' }<
          = @work.mods_xml
      .col
        #mods
          = @mods_html.html_safe

  .py-3.text-right
    -# %a.btn.btn-primary{:href => "#", :role => "button"} Preview
    -# %a.btn.btn-success{:href => update_work_path(@work), :role => "button"} Save
    %input.btn.btn-success{:href => "#", :role => "button", :type => "submit", :value => "Save"}

:javascript
  var editor = ace.edit("editor");
  editor.setTheme("ace/theme/eclipse");
  editor.getSession().setMode("ace/mode/xml");
  editor.setOptions({
    maxLines: Infinity,
    minLines: 20,
    useSoftTabs: true,
    showInvisibles: true,
  });

  $(function() {
    $('#raw_xml_form').submit(function() {
      $("#raw_xml_").val(editor.getValue());
      return true;
    });
  });
