%h2.py-3
  Transcribe
  = @work.title

- if !@pages.blank?
  - page = @pages.first
  = form_tag update_page_path(page), :method => :put do
    .row
      %div.mx-auto
        = paginate @pages

    .container-lg.work-metadata
    .row
      .col
        .border
          = image_tag "#{iiif_url}/2/#{page.thumbnail}/full/!500,500/0/default.jpg"
      .col
        .form-group
          %textarea.form-control.min-vh-100{:name => "page_text", :rows => "3"}
            = page.text
    .row
      .col
      .col
        %input.btn.btn-primary.float-right{:href => "#", :role => "button", :type => "submit", :value => "Update"}

    .row
      %div.mx-auto
        = paginate @pages
