= simple_form_for(@workflow) do |f|
  = f.input :title

  %label
    Task List - Click and Drag to reorder
  %ul.list-group.sortable
    %li.hidden-task.list-group-item.d-flex.justify-content-between.align-items-center
      .task-text
      %input.btn.btn-sm.btn-danger{:href => "#", :role => "button", :type => "button", :value => "Remove", :onclick => "$(this).parent().remove();"}
    - @tasks.each do |t|
      %li.list-group-item.d-flex.justify-content-between.align-items-center
        .task-text
          = t.name
        %input.btn.btn-sm.btn-danger{:href => "#", :role => "button", :type => "button", :value => "Remove", :onclick => "$(this).parent().remove();"}

  %br

  .input-group
    %select#add-task.custom-select
      - @tasks.each do |t|
        %option{:value => "#{t.name}"}
          = t.name
    .input-group-append
      %button.btn.btn-success{:type => "button", :onclick => "new_task = $('.sortable').children().last('li').clone(); new_task.children('.task-text').text($('#add-task').val()); new_task.removeClass('hidden-task'); new_task.appendTo('.sortable');"} Add Task

  %br

  = f.input :ordered, as: :radio_buttons
  = f.input :task_list, :as => :hidden
  = f.button :submit, class: 'btn btn-primary'


:javascript
  function sortable_reload() {
    raw_sortable = sortable('.sortable', 'serialize');

    sortable_values = '';

    $.each(raw_sortable[0].items, function( index, value ) {
      sortable_values = sortable_values.concat($.trim($.parseHTML(value.html)[0].innerText) + ',');
    });

    sortable_array = '['.concat(sortable_values.replace(/.$/,"]"));
  };

  sortable('.sortable');
