%h2.py-3
  History for
  = @work.title

%table.table.table-bordered
  %thead
    %tr
      %th{:scope => "col"} #
      %th{:scope => "col"} Action
      %th{:scope => "col"} Date
  %tbody
    - @work.history.each_with_index do |action, i|
      %tr
        %td.align-middle
          = i + 1
        %td.align-middle
          = User.find(Minerva::User.find(action.creator_id).auid).name
          - if !action.interface_id.blank?
            - if action.status == "Complete"
              has
              = Interface.find(action.interface_id).past_tense
            - elsif action.status == "In Progress"
              is
              = Interface.find(action.interface_id).present_tense
          - else
            changed
          = Work.find(Minerva::Work.find(action.work_id).auid).title
          - if action.interface_id.blank?
            to
            = action.status.downcase
        %td.align-middle
          = action.created_at
