%h2
  History for
  = @work.title

%table.table.table-bordered
  %thead
    %tr
      %th{:scope => "col"} #
      %th{:scope => "col"} Action
      %th{:scope => "col"} Date
  %tbody
    - @work.history.each_with_index do |action, i|
      %tr
        %td.align-middle
          = i + 1
        %td.align-middle
          = User.find(Minerva::User.find(action.creator_id).auid).name
          - if !action.interface_id.blank?
            = Interface.find(action.interface_id).past_tense
          - else
            made
          = Work.find(Minerva::Work.find(action.work_id).auid).title
          - if action.interface_id.blank?
            = action.status.downcase
        %td.align-middle
          = action.updated_at
