%h2.py-3
  History for
  = @work.title

%table.table.table-bordered
  %thead
    %tr
      %th{:scope => "col"} Action
      %th{:scope => "col"} Date
  %tbody
    - @work.history.each_with_index do |action, i|
      %tr
        %td.align-middle
          - creator = User.find(Minerva::User.find(action.creator_id).auid)
          = link_to "#{creator.name}", creator
          - if !action.interface_id.blank?
            - if action.status == "Assigned"
              has assigned
              = Interface.find(action.interface_id).present_tense
              - user = User.find(Minerva::User.find(action.user_id).auid)
              to
              = link_to "#{user.name}", user
            - if action.status == "Complete"
              has
              = Interface.find(action.interface_id).past_tense
            - elsif action.status == "In Progress"
              is
              = Interface.find(action.interface_id).present_tense
          - else
            changed
          = Work.find(Minerva::Work.find(action.work_id).auid).title
          - if action.interface_id.blank?
            to
            = action.status.downcase
            - if action.user_id.present?
              - user = User.find(Minerva::User.find(action.user_id).auid)
              for
              = link_to "#{user.name}", user
            - else
              for anyone
        %td.align-middle
          = action.created_at
