.float-right
  %a.btn.btn-success{:href => history_path(@work.noid), :role => "button"} History
  %a.btn.btn-primary{:href => claim_task_path(@work.noid), :role => "button"} Update Work
%h2
  = @work.title

.container-lg.work-metadata
  .row
    .col.border
      =image_tag "#{iiif_url}/2/#{@work.id}.jp2/full/!500,500/0/default.jpg"
    .col
      #mods
        = @mods_html.html_safe

= @work.file_paths

.uv{"data-canvasindex" => "0", "data-collectionindex" => "0", "data-config" => "", "data-locale" => "en-GB:English (GB),cy-GB:Cymraeg", "data-manifestindex" => "0", "data-rotation" => "0", "data-sequenceindex" => "0", "data-uri" => "http://wellcomelibrary.org/iiif/b18035723/manifest", "data-zoom" => "-1.0064,0,3.0128,1.3791", :style => "width:800px; height:600px; background-color: #000"}
%script#embedUV{:src => "https://universalviewer.io/vendor/uv/lib/embed.js", :type => "text/javascript"}
