.float-right
  %a.btn.btn-success{:href => history_path(@work.noid), :role => "button"} History
  %a.btn.btn-primary{:href => claim_task_path(@work.noid), :role => "button"} Update Work
%h2
  = @work.title

.container-lg.work-metadata
  .row
    .col.border
      =image_tag "#{iiif_url}/2/#{@work.id}.jp2/full/!500,500/0/default.jpg"
    .col
      #mods
        = @mods_html.html_safe

= @work.file_paths
