%h2.py-3
  Assign a task for
  = @work.title

= form_tag(assign_task_path, method: "post") do
  .container
    .row
      .col-sm
        %h5.pb-2 Type
        - JSON.parse(@work.workflow.task_list).each do |task|
          .form-check.py-1
            %label.form-check-label
              %input.form-check-input{:name => "optradio", :type => "radio"}>/
              = task
      .col-sm
        %h5.pb-2 User
        .form-group
          %label Select from list
          %select.form-control
            %option
            - @users.each do |u|
              %option{value: u[1]}
                = u[0]
      .col-sm

  = submit_tag "Assign", class: 'btn btn-primary float-right'
