%h2.pb-3
  - if current_user.admin?
    = "Actions for #{@project.title} - System Administrator"
  -else
    = "Actions for #{@project.title} - #{@role.designation.to_s.capitalize}"

%table.table.table-bordered.table-responsive
  - if @role.manager?
    = render 'users/actions/manager'
  - if @role.editor?
    = render 'users/actions/editor'
  - if @role.creator?
    = render 'users/actions/creator'
  - if @role.depositor?
    = render 'users/actions/depositor'
