%h2.pb-3
  - if current_user.admin?
    = "Actions for #{@project.title} - Administrator"
  -else
    = "Actions for #{@project.title} - #{current_user.designation(@project).to_s.capitalize}"

%table.table.table-bordered.table-responsive
  - if can? :oversee, @project
    = render 'users/actions/manager'
  - if can? :editorialize, @project
    = render 'users/actions/editor'
  - if can? :initiate, @project
    = render 'users/actions/creator'
  - if can? :deposit, @project
    = render 'users/actions/depositor'
