%h2.py-2
  Profile for
  = @user.name
  %div.float-right
    = image_tag @user.binary.representation(resize_to_limit: [100, 100])

%h4.py-2
  Task Assignments
%table.table.table-bordered.table-responsive
  %thead
    %tr
      %th{:scope => "col"} Task
      %th{:scope => "col"} Status
      - if @user == current_user
        %th{:scope => "col"} Actions
  %tbody
    - @assignments.each do |action|
      %tr
        %td.align-middle
          = render partial: "shared/tasks/display", locals: {action: action}
        %td.align-middle
          = action.status
        - if @user == current_user
          %td.align-middle
            = render partial: "shared/tasks/actions", locals: {action: action}

%h4.py-2
  Users Actions
%table.table.table-bordered.table-responsive
  %tbody
    - @user_actions.each do |action|
      %tr
        %td.align-middle
          = render partial: "shared/tasks/display", locals: {action: action}
