%h2.pb-3
  = "Actions for #{@project.title} - #{@role.designation.to_s.capitalize}"

%table.table.table-bordered.table-responsive
  = render 'users/tasks/manager'
  = render 'users/tasks/editor'
  = render 'users/tasks/creator'
  = render 'users/tasks/depositor'
