%h2.pb-3
  = "Actions for #{@project.title} - #{@role.designation.to_s.capitalize}"

%table.table.table-bordered.table-responsive
  - if @role.manager?
    = render 'users/tasks/manager'
  - if @role.editor?
    = render 'users/tasks/editor'
  - if @role.creator?
    = render 'users/tasks/creator'
  - if @role.depositor?
    = render 'users/tasks/depositor'
