<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @assignment.title %>
</p>

<p>
  <strong>Interface:</strong>
  <%= @assignment.interface %>
</p>

<p>
  <strong>Automated:</strong>
  <%= @assignment.automated %>
</p>

<%= link_to 'Edit', edit_assignment_path(@assignment) %> |
<%= link_to 'Back', assignments_path %>
