= simple_form_for(@user, url: @create_user_path) do |f|
  = f.input :first_name, required: true
  = f.input :last_name, required: true
  = f.input :email, required: true
  = f.button :submit, class: 'btn btn-primary'
