<%= form_with(model: interface, local: true) do |form| %>
  <% if interface.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(interface.errors.count, "error") %> prohibited this interface from being saved:</h2>

      <ul>
      <% interface.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :code_point %>
    <%= form.text_field :code_point %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
