<p id="notice"><%= notice %></p>

<h1>Interfaces</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Code point</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @interfaces.each do |interface| %>
      <tr>
        <td><%= interface.title %></td>
        <td><%= interface.code_point %></td>
        <td><%= link_to 'Show', interface %></td>
        <td><%= link_to 'Edit', edit_interface_path(interface) %></td>
        <td><%= link_to 'Destroy', interface, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Interface', new_interface_path %>
