<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @interface.title %>
</p>

<p>
  <strong>Code point:</strong>
  <%= @interface.code_point %>
</p>

<%= link_to 'Edit', edit_interface_path(@interface) %> |
<%= link_to 'Back', interfaces_path %>
