%h4.py-3
  Projects

%table.table.table-bordered
  %thead
    %tr
      %th{:scope => "col"} ID
      %th{:scope => "col"} Title
      %th{:scope => "col"} Description
      %th{:scope => "col"} Users
      %th{:scope => "col"} Works
  %tbody
    - @projects.each_with_index do |project, i|
      %tr
        %td.align-middle
          = project.noid
        %td.align-middle
          = project.title
        %td.align-middle
          = project.description
        %td.align-middle
          = project.users.count
        %td.align-middle
          = project.works.count
