= form_tag project_create_supplemental_file_path, :multipart => true do
  .form-group
    .custom-file
      = file_field_tag :supplemental_file, multiple: false, class: "custom-file-input"
      %label.custom-file-label{:for => "supplemental_file"} Choose file
  .input-group
    %select#collection.custom-select
      %option{:selected => "selected"} Choose System Collection
      - @project.system_collections.each do |collection|
        %option{:value => "#{collection.noid}"}
          = collection.title
  %br
  .form-group
    = submit_tag "Upload", class: 'btn btn-primary pull-right'

:javascript
  $('#supplemental_file').on('change',function(){
      //get the file name
      var fileName = $(this).val().replace("C:\\fakepath\\", "");
      //replace the "Choose a file" label
      $(this).next('.custom-file-label').html(fileName);
  })
