.jumbotron.jumbotron-small
  - if @project.thumbnail
    %div.float-left.mr-3
      = image_tag("#{iiif_url}/2/#{@project.thumbnail}/full/!100,100/0/default.jpg", :class => "img-thumbnail")
  %h2
    = @project.title
  %p.lead
    = @project.description

= render 'search_results'
