%h2.py-3
  = "Users for #{@project.title}"

%table.table.table-bordered.table-responsive
  %thead
    %tr
      %th{:scope => "col"}
        = sortable "last_name", "Name"
      %th{:scope => "col"} Last Action
  %tbody
    - @users.each_with_index do |user, i|
      %tr
        %td.align-middle
          = user.name
        %td.align-middle
          = render partial: "shared/tasks/display", locals: {action: user.last_action(@project)}
