%h1
  = "Users for #{@project.title}"

%table.table.table-bordered
  %thead
    %tr
      %th{:scope => "col"} #
      %th{:scope => "col"} First Name
      %th{:scope => "col"}
        = sortable "users.last_name", "Last Name"
      %th{:scope => "col"}
        = sortable "designation", "Role"
  %tbody
    - @roles.each_with_index do |role, i|
      %tr
        %td.align-middle
          = i + 1
        %td.align-middle
          = role.user.first_name
        %td.align-middle
          = role.user.last_name
        %td.align-middle
          = role.designation.name
