%h2.py-3
  Works for
  = @project.title

= form_tag project_add_users_path do
  %table.table.table-bordered.table-responsive
    %thead
      %tr
        %th{:scope => "col"} Title
        %th{:scope => "col"} User
        %th{:scope => "col"} Current State
        %th{:scope => "col"} Actions
    %tbody
      - @project.works.each_with_index do |work, i|
        %tr
          %td.align-middle
            = link_to "#{work.title}", work
          %td.align-middle
            = work.responsible_user ? link_to(work.responsible_user) : "Anyone"
          %td.align-middle
            = work.state
          %td.align-middle
            %a.btn.btn-primary{:href => claim_task_path(work.noid), :role => "button"} Update Work
            %a.btn.btn-info{:href => assign_task_path(work.noid), :role => "button"} Assign Task
            %a.btn.btn-success{:href => history_path(work.noid), :role => "button"} History
