<%= form_with(model: workflow, local: true) do |form| %>
  <% if workflow.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(workflow.errors.count, "error") %> prohibited this workflow from being saved:</h2>

      <ul>
      <% workflow.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :creator_id %>
    <%= form.number_field :creator_id %>
  </div>

  <div class="field">
    <%= form.label :project_id %>
    <%= form.number_field :project_id %>
  </div>

  <div class="field">
    <%= form.label :task_list %>
    <%= form.text_area :task_list %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :ordered %>
    <%= form.check_box :ordered %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
