<p id="notice"><%= notice %></p>

<p>
  <strong>Creator:</strong>
  <%= @workflow.creator_id %>
</p>

<p>
  <strong>Project:</strong>
  <%= @workflow.project_id %>
</p>

<p>
  <strong>Task list:</strong>
  <%= @workflow.task_list %>
</p>

<p>
  <strong>Title:</strong>
  <%= @workflow.title %>
</p>

<p>
  <strong>Ordered:</strong>
  <%= @workflow.ordered %>
</p>

<%= link_to 'Edit', edit_workflow_path(@workflow) %> |
<%= link_to 'Back', workflows_path %>
