%h2.py-2
  Users

%table.table.table-bordered
  %thead
    %tr
      %th{:scope => "col"} #
      %th{:scope => "col"} First Name
      %th{:scope => "col"} Last Name
      %th{:scope => "col"} Capacity
      %th{:scope => "col"} Created
      %th{:scope => "col"} Last Sign In
      %th{:scope => "col"} Action
  %tbody
    - @users.each_with_index do |user, i|
      %tr
        %td.align-middle
          = user.id
        %td.align-middle
          = user.first_name
        %td.align-middle
          = user.last_name
        %td.align-middle
          = user.capacity
        %td.align-middle
          = user.created_at
        %td.align-middle
          = user.last_sign_in_at
        %td.align-middle
          %a.btn.btn-sm.btn-block.btn-danger{:href => "#", :role => "button"} Delete
