<p id="notice"><%= notice %></p>

<h1>States</h1>

<table>
  <thead>
    <tr>
      <th>Creator</th>
      <th>User</th>
      <th>Role</th>
      <th>Work</th>
      <th>Assignment</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @states.each do |state| %>
      <tr>
        <td><%= state.creator_id %></td>
        <td><%= state.user_id %></td>
        <td><%= state.role_id %></td>
        <td><%= state.work_id %></td>
        <td><%= state.assignment %></td>
        <td><%= state.status %></td>
        <td><%= link_to 'Show', state %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New State', new_state_path %>
